.popup__container {
    position: relative;
    max-width: 430px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    .popup__container {
        max-width: calc(100% - 38px);
        padding-left: 22px;
        padding-right: 22px;
    }    
}