.popup__name {
    width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: Inter;
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 54px;
    outline: none;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    .popup__name {
        width: 238px;
        margin-top: 75px;
    }
}