.profile__title {
    color: white;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    .profile__title {
        font-size: 27px;
        line-height: 32.68px;
        font-weight: 500;
    }
}