.popup__input_name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    .popup__input_name {
        width: 100%;
        margin-top: 75px;
    }
}