.footer {
    max-width: calc(100% - 400px);
    margin: auto;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    .footer {
        max-width: calc(100% - 38px);
        padding-top: 48px;
        padding-bottom: 36px;
    }
}